.Navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 2rem;
   font-weight: 900;
   .logo {
      max-width: 80px;
      margin-top: 10px;
      border: 3px solid bisque;
      border-radius: 50%;
   }
   .links{
      color: rgb(153, 143, 143);
      text-decoration: none;
      padding: 10px;
   }
   .active {
      color: Black;
      text-decoration: none;
      padding: 10px;
   }
}
