.itemDescription {
  background-color: rgba(122, 110, 110,0.5);
  width: 80%;
  padding: 20px;
  .container {
    background-color: rgba(236, 225, 225, 0.9);
    box-shadow: 0px 0px 12px rgb(34, 2, 2);
    border-radius: 5px;
    padding: 20px;
    .content{
      display: flex;
      justify-content: flex-start;
      .image{
        display: block;
        width: 45%;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-radius: 5px;
      }
      .textContent{
        margin-left: 50px;
        text-align: left;
        max-width: 55%;
        h1{
          text-transform: uppercase;
          color: rgb(212, 165, 33);
          font-size: 2rem;
          line-height: 1;
        }
        p{
          font-weight: 700;
          color: rgb(84, 86, 88);
          & span{
            font-weight: 400;
            color: rgb(20, 20, 20);
          }
        }
      }
    }  
  }
}
