@import '../../../styles/variables.scss';

.itemDescription {
  background-color: $listBg;
  width: 80%;
  padding: 20px;
  .container {
    background-color: $itemContBg;
    box-shadow: 0px 0px 12px $mainDark;
    border-radius: 5px;
    padding: 20px;
    .content{
      display: flex;
      justify-content: flex-start;
      .image{
        display: block;
        width: 45%;
        border: 2px solid $lightestText;
        border-radius: 5px;
      }
      .textContent{
        margin-left: 50px;
        text-align: left;
        max-width: 55%;
        h1{
          text-transform: uppercase;
          color: $itemPrimary;
          font-size: 2rem;
          line-height: 1;
        }
        p{
          font-weight: 700;
          color: $secondaryText;
          & span{
            font-weight: 400;
            color: $mainDark;
          }
        }
      }
    }  
  }
}
