@import '../../../styles/variables.scss';

.background{
  width: 80%;
  background-color: $listBg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .cardContainer{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,minmax(200px, 330px));
    grid-template-rows: 1f ;
    gap: 1.1rem;
  }
}
