@import '../../styles/variables.scss';

%positionWrapper {
  position: relative;
  background-color: $attractionsBg;
  width: 80%;
  height: max-content;
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

%title{
  color: $lightestText;
  font-size: 4rem;
  width: 20%;
}

.EntarteimentPage {
  background: #348cb2 url(../../img/background/entart-bg.jpeg) center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  overflow: auto; 
  
  .wrapperMain{
    @extend %positionWrapper;
    flex-direction: column;
    & .title {
      @extend %title;
    }
  }
  .wrapperList{
    @extend %positionWrapper;
    align-items: center;
    justify-content: center;
    & .title{
      @extend %title;
      position: absolute;
      text-align: left;
      top: 0;
      left: 10px;
      margin: 0;
    }
  }
}