.background{
    width: 80%;
    background-color: rgba(122, 110, 110,0.5);
    .cardContainer{
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,minmax(100px, 350px));
      gap: 1.1rem;
    }
  }
