@import '../styles/variables.scss';

.container{
  background-color: $navbarBg;
  width: 100%;
}
.App {
  margin: 0 auto;
  width: 80%;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }


