.container{
  background-color: rgb(224, 217, 217);
  width: 100%;
  .App {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    width: 80%;
  }
}




// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }


