@import '../../styles/variables.scss';

.descriptionButtons {
   display: grid;
   grid-template-columns: auto 1fr auto;
   margin: 10px auto 10px;
   button{
      color: $lightestText;
      font-size: 0.9rem;
      font-weight: 700;
      width: 120px;
      background-color: $descriptionBtn;
      border: 2px solid $lightestText;
      border-radius: 5px;
      margin-right: 5px;
      padding: 10px;
      cursor: pointer;
      &:hover{
         transition-duration: 1s;
         background-color: $descriptionBtnHover;
      }
   }  
}
