@import '../../../styles/variables.scss';

.container {
  background-color: $navBtnBg;
  border: 2px solid $mainDark;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .link{
    box-sizing: border-box;
    background-color: $navBtnLinkBg;
    text-decoration: none;
    max-width: 300px;
    color: white;
    padding: 30px;
    margin: 20px;
    .button{
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}