.container {
  background-color: rgba(68, 43, 43,0.7);
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .link{
    box-sizing: border-box;
    background-color: rgb(71, 60, 60);
    text-decoration: none;
    width: 60%;
    color: white;
    padding: 30px;
    margin: 20px;
    .button{
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  
}